@page "/"
@using JSONRising.Components
@using JSONRising.Models;
@inject NavigationManager NavigationManager

<img src="images/banner.png" alt="JSONRising" class="banner-image" />

<div class="mod-grid">
    @foreach (var mod in Mods)
    {
        <ModCard Mod="mod" />
    }
</div>

<footer class="kofi-footer">
    <a href="https://ko-fi.com/skytech6" target="_blank">
        <img src="https://ko-fi.com/img/githubbutton_sm.svg" alt="ko-fi" />
    </a>
</footer>

<style>
    .mod-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 4rem;
        padding: 1rem;
    }

    .kofi-footer {
        text-align: center;
        padding: 1rem;
        margin-top: 2rem;
    }
</style>

@code {
    private List<ModDefinition> Mods = new()
    {
        new ModDefinition 
        { 
            Id = "chatfilter",
            Name = "CrimsonChatFilter", 
            IconUrl = "/images/mods/ChatFilter.png",
            ThunderstoreUrl = "https://thunderstore.io/c/v-rising/p/skytech6/CrimsonChatFilter/"
        },
        new ModDefinition
        {
            Id = "banned",
            Name = "CrimsonBanned",
            IconUrl = "/images/mods/Banned.png",
            ThunderstoreUrl = "https://thunderstore.io/c/v-rising/p/skytech6/CrimsonBanned/"
        },
        new ModDefinition
        {
            Id = "unsupported",
            Name = "Unsupported Mod",
            IconUrl = "/images/icon_256.png",
            IsDynamicMod = true
        }
    };

    private void SelectMod(ModDefinition mod)
    {
        var route = mod.IsDynamicMod ? $"/dynamic" : $"/{mod.Id}";
        NavigationManager.NavigateTo(route);
    }
}