@page "/"
@using JSONRising.Components
@using JSONRising.Models;
@using JSONRising.Services
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject ISchemaService SchemaService;

<img src="images/banner.png" alt="JSONRising" class="banner-image" />

<div class="mod-grid">
    @foreach (var json in JSONs)
    {
        <JSONCard Schema="json" />
    }
</div>

<footer class="kofi-footer">
    <button @onclick="OpenKoFi"><img src="https://ko-fi.com/img/githubbutton_sm.svg" alt="ko-fi" /></button>
</footer>

<style>
    .mod-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 4rem;
        padding: 1rem;
    }

    .kofi-footer {
        text-align: center;
        padding: 1rem;
        margin-top: 2rem;
    }
</style>

@code {
    private List<JsonSchema> JSONs = new();
    protected override async Task OnInitializedAsync()
    {
        try
        {
            JSONs = await SchemaService.GetAllSchemas();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading schemas: {ex.Message}");
            JSONs = new List<JsonSchema>();
        }
        await base.OnInitializedAsync();
    }

    private async Task OpenKoFi()
    {
        await JSRuntime.InvokeVoidAsync("window.__TAURI__.shell.open",
        "https://ko-fi.com/skytech6", "_blank");
    }
}